@font-face {
  font-family: 'Ubuntu';
  font-weight: 600;
  src: url('/fonts/Ubuntu/Ubuntu-Bold.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 400;
  src: url('/fonts/Ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 100;
  src: url('/fonts/Ubuntu/Ubuntu-Light.ttf');
}
