* {
  font-family: 'Ubuntu', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
}

.content {
  width: 100%;
  height: 100%;
}

.content_container {
  margin: auto;
  width: 768px;
  padding-top: 10px;
}

bash {
  display: block;
  white-space: pre-wrap;
  font-family: monospace;
}
