/* Topic list */
::marker {
  font-weight: bold;
}

.navbar {
  min-width: 300px;
  max-width: 600px;
  height: 100%;
  border-right: 1px solid #eee;
  overflow: auto;
  resize: horizontal;
}

.list {
  padding-left: 40px;
  padding-top: 10px;
}

.list_link {
  color: black;
  text-decoration: none;
}

.list_link:hover {
  text-decoration: underline;
}


@media screen and (max-width: 1068px)  {
  .content_container {
    width: 100%;
  }
}
