/* Topic list */
::marker {
  font-weight: bold;
}

.navbar {
  min-width: 300px;
  max-width: 600px;
  height: 100%;
  overflow: auto;
  resize: horizontal;
  background-color: #fafafa;
}

.list {
  padding-left: 40px;
  padding-top: 10px;
}

.list_link {
  color: black;
  text-decoration: none;
}

.list_link:hover {
  text-decoration: underline;
  color: #478061;
}

h1, h2, h3, h4, h5, a {
  color: #478061;
}


@media screen and (max-width: 1068px)  {
  .content_container {
    width: 100%;
  }
}
